<ion-content [fullscreen]="true">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-avatar>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <h2>Proyect GMRS ionic</h2>
                  <p>team_gmrs@gmrs.com.mx</p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="p.action()" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>


          </ion-menu-toggle>
          <ion-item class="ion-padding-top">
            <ion-label class="ion-padding-start">Components</ion-label>
          </ion-item>


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appComponents; let i = index">
            <ion-item (click)="p.action()" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon *ngIf="p.icon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-content>